.header{
    background-color: #008275;
    height : 2.8rem;
    position :fixed;
    top : 0px;
    right : 0px;
    width : 100%;
    z-index : 10;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color : white;
    font-size : 17px;
    padding : 0 20px;
    position : relative;
    
}

.headerContainer a{
    text-decoration: none ;
    color : white;
    font-weight : 700;
}

.headerContainer ul{
    list-style: none;
    display: flex;
    padding-top : 15px;
}

.headerContainer li{
    margin-right : 10px;
}

.searchBar{
    height : 100%;
    padding-top : 0.5rem;

}